@model IEnumerable<PostalManagementMVC.Entities.Location>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* shfaqim listen e vendodhjeve ne nje tabele dhe kemi butonat perkates per CRUD *@
<h1>@ViewBag.PageTitle</h1>

<p>
    <a asp-action="Create" asp-route-officeId="@ViewBag.OfficeIdInCharge" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPostOffice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPostOffice)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a> |
                    <a asp-controller="LocationConnection" asp-action="Index" asp-route-fromLocationId="@item.Id" class="btn btn-primary">Manage Connections</a> |
                    <a asp-controller="PostalCode" asp-action="Index" asp-route-fromLocationId="@item.Id" class="btn btn-primary">Manage Postal Codes</a>
                </td>
            </tr>
        }
    </tbody>
</table>
