@model IEnumerable<PostalManagementMVC.Data.ApplicationUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a href="/Identity/Account/Register" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NormalizedEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationAssignedName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActiveTo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NormalizedEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationAssignedName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveTo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> |
                    <a asp-action="Disable" asp-route-id="@item.Id" class="btn btn-primary">Disable</a> |
                    <a asp-action="Roles" asp-route-id="@item.Id" class="btn btn-primary">Manage Roles</a>
                </td>
            </tr>
        }
    </tbody>
</table>
